<configuration scan="true">
	<logger name="com.axiell" level="DEBUG" />
	<logger name="time" level="INFO" />
	<logger name="org.apache.cxf" level="INFO" />
	<logger name="net.javacrumbs.smock" level="INFO" />
	<logger name="org.apache.http" level="ERROR" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="java.sql" level="ERROR" />
	<logger name="org.hibernate.SQL" level="INFO" />
	<logger name="org.hibernate.tool.hbm2ddl" level="INFO" />

	<appender name="STDOUT" class="ch.qos.logback.core.FileAppender">
        <file>target/server.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
