.project
.classpath
.settings
*.ipr
*.iws
.idea
*.iml
target/
coverage-error.log
atlassian-ide-plugin.xml
*.log
catalina.base_IS_UNDEFINED
insert-into-release.sql
schema.sql
local/src/main/webapp/xsd/
local/src/test/persistence/sql/schema.sql
rebel.xml
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
